*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
    background-color: #e11919; /* Cor da barra de rolagem */
    border-radius: 4px; /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
    background-color: #ef4444; /* Cor do fundo da barra de rolagem */
}